body{
    background-color:white;
}
h1 {
    padding: 10px;
    border: 5px dashed rgb(124, 197, 142);
    margin: 10px;
    background-color: rgb(58,226,43);
    background-clip: padding-box;
}
h2 {
    color: black;
    margin:10px;
    border: 10px solid red;
}